<script id="bootstrap-current-user" type="text/javascript">

  <% if logged_in? %>
  	window.currentuser = <%= render("api/users/show.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>

  window.images = {
    delete_icon: "<%= image_path('delete_icon.png') %>",
    edit_icon: "<%= image_path('edit_icon.png') %>",
  }

</script>

<div id='root'></div>
