.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  margin-left: 30px;
  position: relative;
}
.container > span {
  text-decoration: underline;
}
.detail-list {
  left: 145px;
  position: absolute;
  display: flex;
  top: 0px;
}
.makes {
  position: relative;
  left: 0px;
}
.detail {
  display: flex;
  flex-direction: column;
  margin: 3px;
  box-shadow: 2px 1px 12px rgba(0,0,0,.35);
  height: 42px;
  border-radius: 3px;
  justify-content: center;
  width: 150px;
  align-items: center;
}
.detail:hover {
  background-color: aliceblue;
  cursor: pointer;
}
.selected {
  background-color: aliceblue;
}
.opaque {
  opacity: .3;
}
