.header-container {
  display: flex;
  justify-content: flex-end;
  margin: 0 10px 0 45px;
  position: relative;
  height: 50px;
  align-items: center;
}
.username-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 108px;
}
.username-button-container > button {
  display: flex;
}
.dropdown {
  position: absolute;
  width: 86px;
  background-color: #0084bf;
  color: white;
  border-radius: 2px;
  text-align: center;
  margin: 0px 3px;
}
.dropdown-item {
  cursor: pointer;
  width: auto;
  width: -webkit-fill-available;
  padding: 10px;
}
.dropdown-item:hover {
  background: #5fa6de;
}
.tabs {
  display: flex;
  margin: 10px;
}
