.header-container {
  display: flex;
  justify-content: flex-end;
  margin: 0 45px 0 45px;
  position: relative;
  height: 50px;
}
// .username-button-container {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }
.username-button-container > button {
  display: flex;
  flex-direction: column;
  height: 30px;
  justify-content: flex-end;
}
