.leads-index-container {
  margin: 45px;
}
.lead-container {
  display: flex;
  height: 100px;
  margin: 3px;
  border-radius: 3px;
  justify-content: space-between;
  box-shadow: 2px 1px 12px rgba(0,0,0,.35);
}
.lead-info {
  display: flex;
  flex-direction: row;
}
.lead-info > div {
  display: flex;
  width: 140px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.lead-info div img {
  padding: 7px;
}
.lead-info label {
  display: flex;
  width: 140px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
img.lead-icon {
  display: none;
}
.lead-container:hover section img.lead-icon{
  display: flex;
  height: 25px;
  padding: 12px;
  cursor: pointer;
  align-self: center;
}
.sortbar {
  height: 41px;
  font-size: 22px;
}
