.quote-form {
  display: flex;
  justify-content: space-between;
}
.quotes-container > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10px;
}
.quote-container {
  display: flex;
  margin: 3px;
  width: 200px;
  height: 160px;
  border-radius: 3px;
  font-size: 16px;
  box-shadow: 2px 1px 12px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}
.quote-container:hover {
  background-color: aliceblue;
}
.quote {
  padding: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.quote > span {
  margin: 3px;
}
.quote-expanded {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 75%;
}
.row {
  display: flex;
}
